h1 {
    display: inline;
    
    padding-right: 70px;
}
h3 {
    display: inline;
}
.boardList {
    padding-top: 30px;
}
.boardList:first-child{
    padding-top: 200px;
}
#updateForm{
    display: none;
}